{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
      "comma-dangle": ["error", "never"],
      "no-console": 0,
      "no-restricted-globals": ["error", "Promise"]
    }
}
